services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - plannkit_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U habits"]
      interval: 3s
      timeout: 5s
      retries: 5
  api: 
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      POSTGRES_CONNECTION_STRING: ${POSTGRES_CONNECTION_STRING} 
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  plannkit_data:
