services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - habits_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U habits"]
      interval: 5s
      timeout: 5s
      retries: 5
  api: 
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      POSTGRES_CONNECTION_STRING: postgresql://habits:habits@db:5432/habits?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    

volumes:
  habits_data:
